build
parser.out
parsetab.py
cscope.files
cscope.out
*.pyc
*~
.*.swp
m5out
/src/doxygen
/ext/dramsim2/DRAMSim2
/ext/mcpat/regression/*/*.out
/util/m5/*.o
/util/m5/*.a
/util/m5/m5
/system/arm/dt/*.dtb
ubuntu*.img
x86_64-vmlinux*
test-kvm
spec_test
*.iso
linux-bigswap2.img
applications/daxpy/daxpy
applications/daxpy/daxpy-accel
applications/daxpy/daxpy-gem5
applications/graph_engine/*.mtx
applications/graph_engine/graph-app-accel
applications/graph_engine/graph-app
applications/graph_engine/graph-app-accel-fs
applications/graph_engine/graph-app-gem5
applications/graph_engine/test
temp
util/term/m5term
run*.sh
logs/
docker-test/
kvm_test/
